{% extends "base.html" %}

{% block title %}
    <title>Welcome</title>
    <h1>{{ var1 }}</h1>
{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <form method="POST">
            {% csrf_token %}
            {% if task_obj.manage == request.user %}
                <div><input type="hidden" name="done" value="{{ task_obj.done }}"></div>
                    <div class="row g-2 align-items-center">
                <div class="col-lg-3"><label></label></div>
                <div class="col-lg-4"><input type="text" class="form-control" name="task" value="{{ task_obj.task }}"></div>
                <div class="col-lg-2"><button type="submit" class="btn btn-primary">Update Task</button></div>
            {% else %}

                <p> Access Restricted <p>
            {% endif %}
        </form>
    </div>
{% endblock content %}